
body {
    background-color: bisque;
    font-family: 'Courier New', Courier, monospace;
}


.OuterDiv {
    width: 100%;
}

.PageTitle {
    margin: auto;
    text-align: center;
    padding-bottom: 30px;
}

.PageLinks {
    margin: auto;
    width: 25%;
    padding-bottom: 30px;
}

.ViewFile {
    padding-top: 20px;
    margin: auto;
    width: 25%;
}

.ViewFile a {
    text-align: center;
}
