


<!-- 

    Description:

        This is the browse Public page of the website. 


    Requirements:

        CrowdedMarket will have a public browse page that dynamically lists all of the
        uploaded public files by their original filename and contains links to the public
        view page with a proper query string to display information about the file in
        question.

    Author: OCdt Aaron Brown and OCdt Liethan Velasco
    Version: 31 January 2024

-->


<!DOCTYPE html> 
<html lang="en">

    <!-- Specify header here -->
    <head>

        <!-- Import browse services -->
        <% import page_mods.browse_services %>
        <% from page_mods.browser_services import * %>
        <% reload(page_mods.browser_services) %>

        <meta charset="utf-8">
        
        <!-- Insert CSS file path here -->
        <link rel="stylesheet" href="../css/index.css">

    </head>

    <!-- Design body here -->
    <body>

        <!-- Define outer div -->
        <div class="OuterDiv">

            <div class="PageTitle">
                <h2>This is the browser public page.</h2>
            </div>

            <div class="PageLinks">
                <p>Here are some links to the website's other pages:</p>
                <a href="index.html">Go Home.</a>
            </div>

            <div class="PageText">
            </div>

            <!-- Iterate through the pickle jar here? We going to use javascript for this? -->
            <div class="PresentFiles">

            </div>

            <!-- NOTE: "Safe to say I think this is incorrect... -->
            <div class="queryForm">

                <!-- NOTE: "I don't exactly know where this request gets sent..."-->
                <form method="post">

                    <div clas="TitleInput">
                        <label for="TitleIn">Input the title of a file here:</label>
                        <input type="text" id="TitleIn" name="TitleIn">
                    </div>

                    <div clas="FileTypeInput">
                        <label for="FileTypeIn">Specify the file type:</label>
                        <select name="FileTypeIn" id="FileTypeIn">
                            <option value="txt">.txt</option>
                            <option value="jpg">.jpg</option>
                            <option value="png">.png</option>
                        </select>
                    </div>


                </form>

            </div>

        </div>

    </body>

</html>