
<!-- 

    Description:

        This is the browse Private page of the website. 


    Requirements:

        CrowdedMarket will have a private browse page that dynamically lists all the
        uploaded private files by their original filename and contain links to the private
        view with a proper query string to display information about the file in question.

    Author: OCdt Aaron Brown and OCdt Liethan Velasco
    Version: 31 January 2024

-->


<!DOCTYPE html> 
<html lang="en">

    <!-- Specify header here -->
    <head>

        <!-- First flush the temp folder -->
        <% import page_mods.view_services %>
        <% from page_mods.view_services import * %>
        <% reload(page_mods.view_services) %>
        <% flush_temp_folder() %>

        <!-- Import browse services -->
        <% import page_mods.browse_services %>
        <% from page_mods.browse_services import * %>
        <% reload(page_mods.browse_services) %>

        <meta charset="utf-8">
        
        <!-- Insert CSS file path here -->
        <link rel="stylesheet" href="../css/browse.css">

    </head>

    <!-- Design body here -->
    <body>

        <!-- Define outer div -->
        <div class="OuterDiv">

            <div class="PageTitle">
                <h2>This is the browser private page.</h2>
            </div>

            <div class="PageLinks">
                <p>Here are some links to the website's other pages:</p>
                <a href="index.html">Go Home.</a>
            </div>

            <!-- Iterate through the pickle jar here? We going to use javascript for this? -->
            <div class="PresentFiles">

                <h4>Links to uploaded public files:</h4>

                <%% retrieve_file_links(False) %%>

            </div>

        </div>

    </body>

</html>
