
<!-- 

    Description:

        This is the page that deals with the file when it is uploaded 


    Requirements:

        CrowdedMaret must have a file upload page that allows a user to upload any
        file, specify is the file is private, and specificy a textual comment associated with
        the file.
            ◦ Html forms support file upload using enctype=”multipart/form-data”, ensure
            to specify it;
            ◦ The action for the file input form must be a file called “upload_service.html”;
            ◦ the file data submitted through the file input form must use the name and id
            ”file_data”;
            ◦ the input for the comment must use the name and id “comment”;
            ◦ the input for public vs private must be a radio button with the n


    Author: OCdt Aaron Brown and OCdt Liethan Velasco
    Version: 31 January 2024

-->


<!DOCTYPE html> 
<html lang="en">
    <head>
        <!-- In the example given this code is in the head but in the wight board code this is in the body-->
        <% import page_mods.upload_service %>
        <% from page_mods.upload_service import * %>
        <% reload(page_mods.upload_service) %>
        
        <meta charset="utf-8">
    </head>
    <body>
        <%% save_data(upload_data(POST_DATA)) %%>
    </body>
</html>