

<!-- 

    Description:

        This is the browse Upload page of the website. 


    Requirements:

        CrowdedMaret must have a file upload page that allows a user to upload any
        file, specify is the file is private, and specificy a textual comment associated with
        the file.
            ◦ Html forms support file upload using enctype=”multipart/form-data”, ensure
            to specify it;
            ◦ The action for the file input form must be a file called “upload_service.html”;
            ◦ the file data submitted through the file input form must use the name and id
            ”file_data”;
            ◦ the input for the comment must use the name and id “comment”;
            ◦ the input for public vs private must be a radio button with the n


    Author: OCdt Aaron Brown and OCdt Liethan Velasco
    Version: 31 January 2024

-->


<!DOCTYPE html> 
<html lang="en">

    <!-- Specify header here -->
    <head>

        <!-- First flush the temp folder -->
        <% import page_mods.view_services %>
        <% from page_mods.view_services import * %>
        <% reload(page_mods.view_services) %>
        <% flush_temp_folder() %>

        <meta charset="utf-8">
        
        <!-- Insert CSS file path here -->
        <link rel="stylesheet" href="./css/upload.css">

    </head>

    <!-- Design body here -->
    <body>

        <!-- Define outer div -->
        <div class="OuterDiv">

            <div class="PageTitle">
                <h2>Upload Page</h2>
            </div>

            <div class="PageLinks">
                <h4>Links to other pages:</h4>
                <a href="index.html">Go Home</a>
            </div>

            <div class="PageDesc">
                <h4>Instructions:</h4>
                <p>Upload a file in the form below.</p>
            </div>

            <div class="UploadForm">

                <div class="FormTitle">
                    <p><b>Upload a File</b></p>
                </div>

                <!-- Insert form element here -->
                <form action="upload_service.html" method="post" enctype="multipart/form-data">

                    <div class="FileUploadBlock">
                        <label for="file_data">Choose a file to upload:</label>
                        <input type="file" id="file_data" name="file_data">
                    </div>

                    <div class="CommentBlock">
                        <label for="comment">Upload with a comment: </label>
                        <input type="text" id="comment" name="comment">
                    </div>

                    <div class="RadioButtons">
                        <legend>Select an upload type:</legend>
                        <div>
                            <!-- The id of this should be either pub or priv-->
                            <input type="radio" id="priv" name="pub_or_priv" value="Private" checked>
                            <label for="pub_or_priv">Private</label>
                        </div>
                        <div>
                            <input type="radio" id="pub" name="pub_or_priv" value="Public">
                            <label for="pub_or_priv">Public</label>
                        </div>
                    </div>

                    <div class="SubmitButton">
                        <input type="submit" value="Post Media">
                    </div>

                </form>
            </div>

        </div>

    </body>

</html>
