

<!-- 

    Description:

        This is the view Private page of the website. 


    Requirements:

        CrowdedMarket will have a private view page that functions identically to the
        public view page except it provides access to private files;
            ◦ As CrowdedMarket won’t have an authentication system at this point access
            to the private browse and private view pages will be unrestricted. To enable
            the eventual securing of private files however access to these files must be
            through a single dynamic page, either the private view page itself or a
            separate private download page; private files should not be directly
            accessible using a url specifying the file itself;
            You can feel free to alter demoWWW if you see fit for testing purposes, but
            CrowdedMarket must work properly on (and will be evaluated using) an
            unmodified version of demoWWW.

    Author: OCdt Aaron Brown and OCdt Liethan Velasco
    Version: 31 January 2024

-->


<!DOCTYPE html> 
<html lang="en">

    <!-- Specify header here -->
    <head>

        <!-- First flush the temp folder -->
        <% import page_mods.view_services %>
        <% from page_mods.view_services import * %>
        <% reload(page_mods.view_services) %>
        <% flush_temp_folder() %>

        <meta charset="utf-8">
        
        <!-- Insert CSS file path here -->
        <link rel="stylesheet" href="./css/view.css">

    </head>

    <!-- Design body here -->
    <body>

        <!-- Define outer div -->
        <div class="OuterDiv">

            <div class="PageTitle">
                <h2>This is the view private page.</h2>
            </div>

            <div class="PageLinks">
                <p>Here are some links to the website's other pages:</p>
                <a href="index.html">Go Home.</a>
            </div>

            <div class="ViewFile">

                <%% pull_private_data(QUERY_VARS) %%>
                
            </div>

        </div>

    </body>

</html>